@charset "utf-8";
*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient(to right, #F2F2F2, #4A738C);
}
main{
    background-color: white;
    border-radius: 5%;
    box-shadow: 10px 10px 10px black;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    color: #A66329;
}
h2{
    color: #592520;
}
p{
    text-align: justify;
}